/*-----------
Google fonts
------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ------------
Common styles
---------------*/
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

/*---------------
 Top Banner 
 --------------- */

.top-container {
    display: flex;
    background-color: #161616;
    Width: 1321px;
    Height: 646px;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 140px;
}

.top-banner-title {
    font-size: 70px;
    font-weight: 700;
    padding-left: 93px;
    padding-top: 20px;

}

p {
    font-size: 16px;
    font-weight: 400;
    padding-left: 93px;
}

.top-banner-info {
    color: #FFFFFF;
}

.banner-image {
    width: 581px;
    height: 613px;
    padding-top: 33px;
}

.watch-button {
    text-decoration: none;
    background-color: rgb(240, 13, 13);
    color: #F3F1FF;
    padding: 10px 40px;
    border-radius: 5px;
    margin-left: 93px;
    font-size: 20px;
    font-weight: 400;
}

.watch-button:hover {
    background-color: rgb(17, 17, 243);
}

/*---------------
 Middle Portion 
 --------------- */

.middle-portion {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.players-transfer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    margin-left: 40px;
}

.player-thumbnail {
    width: 312px;
    height: 175px;
    border-radius: 10px;
}

.transfer-button {
    width: 77px;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 10px;
}

/*---------------
  Side Portion
 --------------- */
.side-portion {
    width: 280px;
    height: 280px;
    background: #161616;
    border-radius: 10px;
    margin-left: 135px;
}

.side-button {
    padding-top: 60px;
    padding-left: 40px;
    align-items: center;

}

.match-button {
    text-decoration: none;
    background-color: #F3F1FF;
    color: #161616;
    position: relative;
    padding: 15px 33px;
    border-radius: 10px;
}

.group-button {
    text-decoration: none;
    background-color: #F3F1FF;
    color: #161616;
    position: relative;
    padding: 15px 65px;
    border-radius: 10px;
}

.blog-button {
    text-decoration: none;
    background-color: rgb(233, 14, 14);
    color: #F3F1FF;
    padding: 15px 85px;
    position: relative;
    border-radius: 10px;
}



/*---------------
 Footer Portion
 --------------- */

footer {
    background-color: black;
    height: 300px;
    margin-top: 50px;
}

.footer-goal {
    color: #F3F1FF;
    font-size: 40px;
    text-align: center;
    padding-top: 70px;
}

hr {
    color: aliceblue;
    opacity: 8%;
}

.footer-list {
    color: #F3F1FF;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-left: 40px;

}

.footer-media-list {
    color: #F3F1FF;
    list-style: none;
    margin-left: 45%;


}

/*---------------
 Media Queries 
 --------------- */

/*---------------
 Mobile Device 
 --------------- */

@media only screen and (max-width:688px) {
    .top-container {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
        justify-content: center;
        margin-left: 0px;
        height: 100%;

    }

    .top-banner-title {
        font-size: 40px;
        font-weight: 100;
        padding-left: 5px;
    }

    p {
        padding-left: 5px;
    }

    .watch-button {
        margin-left: 5px;
        margin-top: 10px;
    }

    .middle-portion {
        display: flex;
        flex-direction: column;
    }

    .side-portion {
        background-color: #FFFFFF;
        margin-left: 60px;
    }

    .players-transfer {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        margin-top: 25px;
    }

    .footer-goal {
        text-align: center;
    }

    .footer-list {
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
        text-align: center;
        padding-left: 0.5%;

    }

}

/*---------------
 Tablet Device 
 --------------- */

@media only screen and (min-width:688px) and (max-width:992px) {
    .top-container {
        margin-left: 45px;
    }

    .players-transfer {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
}